<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhyen.test">

    <application>
        <activity android:name=".ui.activity.custom_view.TestCustomViewDrawActivity" />
        <activity android:name=".ui.activity.custom_view.TestCustomViewPaintActivity" />
        <activity android:name=".ui.activity.TestXfermodeActivity" />
        <activity android:name=".ui.activity.custom_view.TestViewPaintPracticeActivity" />
        <activity android:name=".ui.activity.custom_view.TestCustomViewTextActivity" />
        <activity android:name=".ui.activity.custom_view.TestCustomViewAssistActivity" />
        <activity android:name=".ui.activity.custom_view.TestViewDrawOrderActivity" />
        <activity android:name=".ui.activity.custom_view.TestViewAnimationActivity"/>
    </application>
</manifest>
