<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhyen.test">

    <application>
        <activity android:name=".ui.activity.TestCustomViewDrawActivity" />
        <activity android:name=".ui.activity.TestCustomViewPaintActivity" />
    </application>
</manifest>
