<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhyen.test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application>
        <activity android:name=".TestMainActivity" />
        <activity android:name=".video_view_demo.DemoVideoViewActivity" />
        <activity android:name=".ui.activity.custom_view.TestCustomViewDrawActivity" />
        <activity android:name=".ui.activity.custom_view.TestCustomViewPaintActivity" />
        <activity android:name=".ui.activity.TestXfermodeActivity" />
        <activity android:name=".ui.activity.custom_view.TestViewPaintPracticeActivity" />
        <activity android:name=".ui.activity.custom_view.TestCustomViewTextActivity" />
        <activity android:name=".ui.activity.custom_view.TestCustomViewAssistActivity" />
        <activity android:name=".ui.activity.custom_view.TestViewDrawOrderActivity" />
        <activity android:name=".ui.activity.custom_view.TestViewAnimationActivity" />
        <activity android:name=".ui.activity.custom_view.TestAnimatorEvaluatorActivity" />
        <activity android:name=".ui.activity.custom_view.TestHardwareAcceleratedActivity" />
    </application>
</manifest>
