<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhyen.android">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".picture_selected.PictureSelectionActivity" />

        <activity android:name=".test.test_blur.TestBlurActivity" />
        <activity android:name=".test.test_blur.TestSimpleBlurActivity" />
        <activity android:name=".test.test_blur.TestDynamicBlurActivity" />
        <activity android:name=".test.test_blur.BlurWeatherActivity" />
        <activity android:name=".test.test_luban.LuBanMainActivity" />
        <activity android:name=".test.TestCompressorActivity" />
        <activity android:name=".test.test_widget.TestCircularImageView" />
        <activity android:name=".test.test_utils.TestUtilsActivity" />
        <activity android:name=".test.test_provider.TestProviderActivity" />
        <activity android:name=".test.TestListPopupWindowActivity" />

        <provider
            android:name=".test.test_provider.TestPictureProvider"
            android:authorities="com.zhyen.android.TestPictureProvider"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.zhyen.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public"></meta-data>
        </provider>
    </application>


</manifest>